<config>
	<config_type>MFAgent</config_type>
	<serial_number>123456789</serial_number>
	<registed_server_ip>127.0.0.1</registed_server_ip>
	<registed_server_port>14928</registed_server_port>
	<agent_ip>0.0.0.0</agent_ip>
	<agent_port>14929</agent_port>
	<cuda_path>/usr/local/cuda</cuda_path>
	<nvidia_smi>/usr/bin/nvidia-smi</nvidia_smi>
	<assignment>
		<gpu_res>
			<gpu_uuid>123456789</gpu_uuid>
			<fabric_type>10000</fabric_type>
			<gpu_id>0</gpu_id>
			<resource_ip>192.168.1.1</resource_ip>
		</gpu_res>
		<gpu_res>
			<gpu_uuid>234567914</gpu_uuid>
			<fabric_type>1000</fabric_type>
			<gpu_id>1</gpu_id>
			<resource_ip>192.168.1.1</resource_ip>
		</gpu_res>
	</assignment>
	<resource_list>
		<fabric_list>
			<fabric>
				<nic_ip>192.168.1.2</nic_ip>
				<nic_type>10000</nic_type>
				<nic_mac>ff:ee:ff:ee:ff:ee</nic_mac>
			</fabric>
			<fabric>
				<nic_ip>192.168.1.3</nic_ip>
				<nic_type>1000</nic_type>
				<nic_mac>00:ff:00:ff:00:ff</nic_mac>
			</fabric>
		</fabric_list>
		<gpu_list>
			<gpu>
				<gpu_uuid>8888888888</gpu_uuid>
				<gpu_id>0</gpu_id>
			</gpu>
			<gpu>
				<gpu_uuid>7777777777</gpu_uuid>
				<gpu_id>1</gpu_id>
			</gpu>
		</gpu_list>
	</resource_list>
</config>
